@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .col-1 {
    @apply w-[136px];
  }
}

@layer components {
  button,
  a {
    @apply text-blue-500;
  }

  table {
    @apply border-collapse min-w-[288px] mr-auto;
  }

  td,
  th {
    @apply border border-gray-200 p-1;
  }

  th {
    @apply font-semibold;
  }

  thead {
    @apply sticky top-0 bg-white;
    box-shadow: 0 2px 2px -2px rgb(209 213 219);
  }

  tfoot {
    @apply sticky bottom-0 bg-white;
    box-shadow: 0 -2px 2px -2px rgb(209 213 219);
  }

  tr td {
    background-color: inherit;
  }

  nextjs-portal {
    @apply !hidden;
  }
}
